@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #0C0C0C;
  font-family: 'Kanit', sans-serif;
  scroll-padding-top: 80px;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (pointer: fine) {
  *:not(a, button, [role="button"], a *, button *, nav, nav *) {
    cursor: none !important;
  }
  a, button, [role="button"], a *, button *, nav, nav * {
    cursor: pointer !important;
  }
}
